@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');

:root{
  --secondary-color: #40A6C7;
}

html {
  font-size: 16px;
}

* {
  font-family: 'Poppins', sans-serif;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: black;
}

img {
  width: 100%;
}

.btn-primary {
  background-color: white;
  color: black;
  padding: .8rem;
  border-radius: 1.3rem;
  cursor: pointer;
  text-transform: uppercase;
  font-weight: 700;
  transition: .3s;
}

.btn-primary:hover{
  background-color: white;
  color: black;
  border: solid black 1px;
}


.error {
  margin-top: 16px;
  color: red;
  margin-bottom: 10px;
}

.ok{
  margin-top: 16px;
  margin-bottom: 10px;
  color: green;
}

.link {
  color: black;
  text-decoration: underline;
}

.link:hover{
  text-decoration: none;
}